## Python Course Exercises 1

#Q1. Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

#### Q2. Split this string:

s = "Hi there Yogesh!"

into a list.

In [2]:
s='Hi there yogesh'

In [3]:
type(s)

str

In [4]:
s.split()

['Hi', 'there', 'yogesh']

#### Q3.Given the variables:

planet = "Earth"
diameter = 12742

Use .format() to print the following string: 

The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [6]:
'The diameter of {} is diameter {}'.format(planet,diameter)

'The diameter of Earth is diameter 12742'

### Q4. Given this nested list, use indexing to grab the word "hello" 

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
type(lst)

list

In [9]:
lst[3][1][2]

['hello']

In [10]:
lst[3][1][2][0]

'hello'

###### Q5.Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [11]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
type(d)

dict

In [13]:
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

In [14]:
d['k1']

[1,
 2,
 3,
 {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]

In [15]:
d['k1'][3]

{'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}

In [16]:
d['k1'][3]['tricky']

['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]

In [17]:
d['k1'][3]['tricky'][3]

{'target': [1, 2, 3, 'hello']}

In [18]:
d['k1'][3]['tricky'][3]['target']

[1, 2, 3, 'hello']

In [19]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [20]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

#### Q6. What is the main difference between a tuple and a list?

In [ ]:
Ans-: List are Mutable & Tuple are Immutable.

In [21]:
my_list1=[4,7,8,9,10]

In [22]:
my_list1[2]='Hello'

In [23]:
my_list1

[4, 7, 'Hello', 9, 10]

In [24]:
my_tuple1=(11,22,33,44,55)

In [25]:
my_tuple1[2]='Hello'

TypeError: 'tuple' object does not support item assignment

### Q7.Create a function that grabs the email website domain from a string in the form: 

user@domain.com

### So for example, passing "user@domain.com" would return: domain.com

In [26]:
"mayureshdesai@gmail.com".split('@')

['mayureshdesai', 'gmail.com']

In [27]:
"mayureshdesai@gmail.com".split('@')[-1]

'gmail.com'

In [28]:
def get_domain(email):
    return email.split('@')[-1]

In [29]:
get_domain('mayureshdesai@gmail.com')

'gmail.com'

In [30]:
get_domain('mmd175@gmail.com')

'gmail.com'

In [31]:
get_domain('xyz@yahoo.com')

'yahoo.com'

####  Q8.Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [32]:
def dog_find(s):
    return'dog'in s.split()

In [33]:
dog_find('this Dog is faster than that dog')

True

In [34]:
dog_find('i like cat')

False

#### Q.9 Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [51]:
'This dog runs dog Dog DOG faster than that dog'.lower().split()

['this', 'dog', 'runs', 'dog', 'dog', 'dog', 'faster', 'than', 'that', 'dog']

In [62]:
def count_dog(s):
    count=0
    for w in s.lower().split():
        if w=='dog':
            count=count+1
    return count

In [63]:
count_dog('This dog runs dog Dog DOG faster than that dog')

5

####  Q.10 Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

In [65]:
seq = ['soup','dog','salad','cat','great']

In [66]:
type(seq)

list

In [67]:
lambda x:x[0]!='s'

In [69]:
map(lambda x:x[0]!='s',seq)

In [70]:
list(map(lambda x:x[0]!='s',seq))

[False, True, False, True, True]

In [71]:
list(filter(lambda x:x[0]!='s',seq))

['dog', 'cat', 'great']

In [86]:
list1=list(filter(lambda x:x.startswith('s'),seq))

In [87]:
list1

['soup', 'salad']

In [88]:
list2=list(filter(lambda x:not (x.startswith('s')),seq))

In [89]:
list2

['dog', 'cat', 'great']

## Final Problem

You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [2]:
def catch_speed(speed,birthday):
    if birthday:
        new_speed=speed-5
    else:
            new_speed=speed
    if new_speed>80:
            return 'BIG TICKET'
    elif new_speed>60:
                return 'SMALL TICKET'
    else:
        return 'NO TICKET'

In [4]:
catch_speed(85,True)

'SMALL TICKET'

In [5]:
catch_speed(65,True)

'NO TICKET'

In [6]:
catch_speed(63,False)

'SMALL TICKET'

In [7]:
catch_speed(85,False)

'BIG TICKET'

### Question ..... Interview Question 

Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [ ]:
input ('Enter the input: ')

In [2]:
s=input ('Enter the input: ')
num=""
a=[0,1,2,3,4,5,6,7,8,9]
if s[0]=='-':
    num=num+s[0]
for c in s :
    if c in str(a) :
         num=num+c
print(num)

Enter the input: 4575jdv
4575

### Q2
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [1]:
n1=input("Enter the Number:")
n2=int(n1[::-1])
n3=str(int(n1)+n2)
print("Number is:",n3)
print("Reverse is:",n3[::-1])
while n3!=n3[::-1]:
    n3=str(int(n3)+int(n3[::-1]))
    print("Number is:",n3)
    print("Reverse is:",n3[::-1])
print("Palindrome is:",n3)

Enter the Number:88
Number is: 176
Reverse is: 671
Number is: 847
Reverse is: 748
Number is: 1595
Reverse is: 5951
Number is: 7546
Reverse is: 6457
Number is: 14003
Reverse is: 30041
Number is: 44044
Reverse is: 44044
Palindrome is: 44044

#### Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [2]:
def find_number():
    for a in range(0,10):
        b=a-2
        c=b-2
        d=c-2
        if c+d+c==a and a+b+c+d+c==19:
            print(str(a)+str(b)+str(c)+str(d)+str(c))

In [3]:
find_number()

75313

In [4]:
def find_number2():
    for i1 in range(0,10):
        for i2 in range(0,10):
            for i3 in range(0,10):
                for i4 in range(0,10):
                    for i5 in range(0,10):
                        if i1+i2+i3+i4+i5==19:
                            if ((i1-i2==2) and (i2-i3==2) and (i3-i4==2) and (i5-i4==2)):
                                if (i3+i4+i5)==i1:
                                    print("Number is",str(i1)+str(i2)+str(i3)+str(i4)+str(i5))

In [5]:
find_number2()

Number is 75313

In [6]:
for i in range(5):
  print('*'*i)

*
**
***
****

In [7]:
n = int(input("enter number of rows: "))
for i in range(1,n+1):
    print("*"*i)

enter number of rows: 9
*
**
***
****
*****
******
*******
********
*********

In [17]:
rows=int(input("Enter the rows:"))
for v in range(rows):
    for u in range(v+1):
        print(u+1,end=" ")
    print("")

Enter the rows:15
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [18]:
rows=int(input("Enter the number of rows:"))

ascii_value=65
for i in range(rows):
    for j in range(i+1):
        alphabet=chr(ascii_value)
        print(alphabet,end=" ")
    ascii_value=ascii_value+1
    print("")

Enter the number of rows:26
A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H
I I I I I I I I I
J J J J J J J J J J
K K K K K K K K K K K
L L L L L L L L L L L L
M M M M M M M M M M M M M
N N N N N N N N N N N N N N
O O O O O O O O O O O O O O O
P P P P P P P P P P P P P P P P
Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q
R R R R R R R R R R R R R R R R R R
S S S S S S S S S S S S S S S S S S S
T T T T T T T T T T T T T T T T T T T T
U U U U U U U U U U U U U U U U U U U U U
V V V V V V V V V V V V V V V V V V V V V V
W W W W W W W W W W W W W W W W W W W W W W W
X X X X X X X X X X X X X X X X X X X X X X X X
Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y
Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z

In [19]:
n=26
for i in range(n):
    for j in range(i+1):
        print(chr(j + 97), end="")
    print()

a
ab
abc
abcd
abcde
abcdef
abcdefg
abcdefgh
abcdefghi
abcdefghij
abcdefghijk
abcdefghijkl
abcdefghijklm
abcdefghijklmn
abcdefghijklmno
abcdefghijklmnop
abcdefghijklmnopq
abcdefghijklmnopqr
abcdefghijklmnopqrs
abcdefghijklmnopqrst
abcdefghijklmnopqrstu
abcdefghijklmnopqrstuv
abcdefghijklmnopqrstuvw
abcdefghijklmnopqrstuvwx
abcdefghijklmnopqrstuvwxy
abcdefghijklmnopqrstuvwxyz